<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zouhuachao.mapper.PayrollMapper" >
  <resultMap id="BaseResultMap" type="cn.zouhuachao.pojo.Payroll" >
    <id column="payid" property="payid" jdbcType="VARCHAR" />
    <result column="staffno" property="staffno" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="paygrade" property="paygrade" jdbcType="VARCHAR" />
    <result column="pay" property="pay" jdbcType="DECIMAL" />
    <result column="allowance" property="allowance" jdbcType="DECIMAL" />
    <result column="bonus" property="bonus" jdbcType="DECIMAL" />
    <result column="overtime" property="overtime" jdbcType="DECIMAL" />
    <result column="attendance" property="attendance" jdbcType="DECIMAL" />
    <result column="endowmentins" property="endowmentins" jdbcType="DECIMAL" />
    <result column="medicalins" property="medicalins" jdbcType="DECIMAL" />
    <result column="unemploymentins" property="unemploymentins" jdbcType="DECIMAL" />
    <result column="housingfund" property="housingfund" jdbcType="DECIMAL" />
    <result column="workagepay" property="workagepay" jdbcType="DECIMAL" />
    <result column="tsalary" property="tsalary" jdbcType="DECIMAL" />
    <result column="fsalary" property="fsalary" jdbcType="DECIMAL" />
    <result column="incometax" property="incometax" jdbcType="DECIMAL" />
    <result column="paytime" property="paytime" jdbcType="DATE" />
    <result column="payway" property="payway" jdbcType="VARCHAR" />
    <result column="paystatus" property="paystatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    payid, staffno, realname, position, paygrade, pay, allowance, bonus, overtime, attendance, 
    endowmentins, medicalins, unemploymentins, housingfund, workagepay, tsalary, fsalary, 
    incometax, paytime, payway, paystatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.zouhuachao.pojo.PayrollExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from payroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from payroll
    where payid = #{payid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from payroll
    where payid = #{payid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.zouhuachao.pojo.PayrollExample" >
    delete from payroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.zouhuachao.pojo.Payroll" >
    insert into payroll (payid, staffno, realname, 
      position, paygrade, pay, 
      allowance, bonus, overtime, 
      attendance, endowmentins, medicalins, 
      unemploymentins, housingfund, workagepay, 
      tsalary, fsalary, incometax, 
      paytime, payway, paystatus
      )
    values (#{payid,jdbcType=VARCHAR}, #{staffno,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{paygrade,jdbcType=VARCHAR}, #{pay,jdbcType=DECIMAL}, 
      #{allowance,jdbcType=DECIMAL}, #{bonus,jdbcType=DECIMAL}, #{overtime,jdbcType=DECIMAL}, 
      #{attendance,jdbcType=DECIMAL}, #{endowmentins,jdbcType=DECIMAL}, #{medicalins,jdbcType=DECIMAL}, 
      #{unemploymentins,jdbcType=DECIMAL}, #{housingfund,jdbcType=DECIMAL}, #{workagepay,jdbcType=DECIMAL}, 
      #{tsalary,jdbcType=DECIMAL}, #{fsalary,jdbcType=DECIMAL}, #{incometax,jdbcType=DECIMAL}, 
      #{paytime,jdbcType=DATE}, #{payway,jdbcType=VARCHAR}, #{paystatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.zouhuachao.pojo.Payroll" >
    insert into payroll
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payid != null" >
        payid,
      </if>
      <if test="staffno != null" >
        staffno,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="paygrade != null" >
        paygrade,
      </if>
      <if test="pay != null" >
        pay,
      </if>
      <if test="allowance != null" >
        allowance,
      </if>
      <if test="bonus != null" >
        bonus,
      </if>
      <if test="overtime != null" >
        overtime,
      </if>
      <if test="attendance != null" >
        attendance,
      </if>
      <if test="endowmentins != null" >
        endowmentins,
      </if>
      <if test="medicalins != null" >
        medicalins,
      </if>
      <if test="unemploymentins != null" >
        unemploymentins,
      </if>
      <if test="housingfund != null" >
        housingfund,
      </if>
      <if test="workagepay != null" >
        workagepay,
      </if>
      <if test="tsalary != null" >
        tsalary,
      </if>
      <if test="fsalary != null" >
        fsalary,
      </if>
      <if test="incometax != null" >
        incometax,
      </if>
      <if test="paytime != null" >
        paytime,
      </if>
      <if test="payway != null" >
        payway,
      </if>
      <if test="paystatus != null" >
        paystatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payid != null" >
        #{payid,jdbcType=VARCHAR},
      </if>
      <if test="staffno != null" >
        #{staffno,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="paygrade != null" >
        #{paygrade,jdbcType=VARCHAR},
      </if>
      <if test="pay != null" >
        #{pay,jdbcType=DECIMAL},
      </if>
      <if test="allowance != null" >
        #{allowance,jdbcType=DECIMAL},
      </if>
      <if test="bonus != null" >
        #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="overtime != null" >
        #{overtime,jdbcType=DECIMAL},
      </if>
      <if test="attendance != null" >
        #{attendance,jdbcType=DECIMAL},
      </if>
      <if test="endowmentins != null" >
        #{endowmentins,jdbcType=DECIMAL},
      </if>
      <if test="medicalins != null" >
        #{medicalins,jdbcType=DECIMAL},
      </if>
      <if test="unemploymentins != null" >
        #{unemploymentins,jdbcType=DECIMAL},
      </if>
      <if test="housingfund != null" >
        #{housingfund,jdbcType=DECIMAL},
      </if>
      <if test="workagepay != null" >
        #{workagepay,jdbcType=DECIMAL},
      </if>
      <if test="tsalary != null" >
        #{tsalary,jdbcType=DECIMAL},
      </if>
      <if test="fsalary != null" >
        #{fsalary,jdbcType=DECIMAL},
      </if>
      <if test="incometax != null" >
        #{incometax,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=DATE},
      </if>
      <if test="payway != null" >
        #{payway,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.zouhuachao.pojo.PayrollExample" resultType="java.lang.Integer" >
    select count(*) from payroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update payroll
    <set >
      <if test="record.payid != null" >
        payid = #{record.payid,jdbcType=VARCHAR},
      </if>
      <if test="record.staffno != null" >
        staffno = #{record.staffno,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.paygrade != null" >
        paygrade = #{record.paygrade,jdbcType=VARCHAR},
      </if>
      <if test="record.pay != null" >
        pay = #{record.pay,jdbcType=DECIMAL},
      </if>
      <if test="record.allowance != null" >
        allowance = #{record.allowance,jdbcType=DECIMAL},
      </if>
      <if test="record.bonus != null" >
        bonus = #{record.bonus,jdbcType=DECIMAL},
      </if>
      <if test="record.overtime != null" >
        overtime = #{record.overtime,jdbcType=DECIMAL},
      </if>
      <if test="record.attendance != null" >
        attendance = #{record.attendance,jdbcType=DECIMAL},
      </if>
      <if test="record.endowmentins != null" >
        endowmentins = #{record.endowmentins,jdbcType=DECIMAL},
      </if>
      <if test="record.medicalins != null" >
        medicalins = #{record.medicalins,jdbcType=DECIMAL},
      </if>
      <if test="record.unemploymentins != null" >
        unemploymentins = #{record.unemploymentins,jdbcType=DECIMAL},
      </if>
      <if test="record.housingfund != null" >
        housingfund = #{record.housingfund,jdbcType=DECIMAL},
      </if>
      <if test="record.workagepay != null" >
        workagepay = #{record.workagepay,jdbcType=DECIMAL},
      </if>
      <if test="record.tsalary != null" >
        tsalary = #{record.tsalary,jdbcType=DECIMAL},
      </if>
      <if test="record.fsalary != null" >
        fsalary = #{record.fsalary,jdbcType=DECIMAL},
      </if>
      <if test="record.incometax != null" >
        incometax = #{record.incometax,jdbcType=DECIMAL},
      </if>
      <if test="record.paytime != null" >
        paytime = #{record.paytime,jdbcType=DATE},
      </if>
      <if test="record.payway != null" >
        payway = #{record.payway,jdbcType=VARCHAR},
      </if>
      <if test="record.paystatus != null" >
        paystatus = #{record.paystatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update payroll
    set payid = #{record.payid,jdbcType=VARCHAR},
      staffno = #{record.staffno,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      paygrade = #{record.paygrade,jdbcType=VARCHAR},
      pay = #{record.pay,jdbcType=DECIMAL},
      allowance = #{record.allowance,jdbcType=DECIMAL},
      bonus = #{record.bonus,jdbcType=DECIMAL},
      overtime = #{record.overtime,jdbcType=DECIMAL},
      attendance = #{record.attendance,jdbcType=DECIMAL},
      endowmentins = #{record.endowmentins,jdbcType=DECIMAL},
      medicalins = #{record.medicalins,jdbcType=DECIMAL},
      unemploymentins = #{record.unemploymentins,jdbcType=DECIMAL},
      housingfund = #{record.housingfund,jdbcType=DECIMAL},
      workagepay = #{record.workagepay,jdbcType=DECIMAL},
      tsalary = #{record.tsalary,jdbcType=DECIMAL},
      fsalary = #{record.fsalary,jdbcType=DECIMAL},
      incometax = #{record.incometax,jdbcType=DECIMAL},
      paytime = #{record.paytime,jdbcType=DATE},
      payway = #{record.payway,jdbcType=VARCHAR},
      paystatus = #{record.paystatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zouhuachao.pojo.Payroll" >
    update payroll
    <set >
      <if test="staffno != null" >
        staffno = #{staffno,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="paygrade != null" >
        paygrade = #{paygrade,jdbcType=VARCHAR},
      </if>
      <if test="pay != null" >
        pay = #{pay,jdbcType=DECIMAL},
      </if>
      <if test="allowance != null" >
        allowance = #{allowance,jdbcType=DECIMAL},
      </if>
      <if test="bonus != null" >
        bonus = #{bonus,jdbcType=DECIMAL},
      </if>
      <if test="overtime != null" >
        overtime = #{overtime,jdbcType=DECIMAL},
      </if>
      <if test="attendance != null" >
        attendance = #{attendance,jdbcType=DECIMAL},
      </if>
      <if test="endowmentins != null" >
        endowmentins = #{endowmentins,jdbcType=DECIMAL},
      </if>
      <if test="medicalins != null" >
        medicalins = #{medicalins,jdbcType=DECIMAL},
      </if>
      <if test="unemploymentins != null" >
        unemploymentins = #{unemploymentins,jdbcType=DECIMAL},
      </if>
      <if test="housingfund != null" >
        housingfund = #{housingfund,jdbcType=DECIMAL},
      </if>
      <if test="workagepay != null" >
        workagepay = #{workagepay,jdbcType=DECIMAL},
      </if>
      <if test="tsalary != null" >
        tsalary = #{tsalary,jdbcType=DECIMAL},
      </if>
      <if test="fsalary != null" >
        fsalary = #{fsalary,jdbcType=DECIMAL},
      </if>
      <if test="incometax != null" >
        incometax = #{incometax,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null" >
        paytime = #{paytime,jdbcType=DATE},
      </if>
      <if test="payway != null" >
        payway = #{payway,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        paystatus = #{paystatus,jdbcType=VARCHAR},
      </if>
    </set>
    where payid = #{payid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zouhuachao.pojo.Payroll" >
    update payroll
    set staffno = #{staffno,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      paygrade = #{paygrade,jdbcType=VARCHAR},
      pay = #{pay,jdbcType=DECIMAL},
      allowance = #{allowance,jdbcType=DECIMAL},
      bonus = #{bonus,jdbcType=DECIMAL},
      overtime = #{overtime,jdbcType=DECIMAL},
      attendance = #{attendance,jdbcType=DECIMAL},
      endowmentins = #{endowmentins,jdbcType=DECIMAL},
      medicalins = #{medicalins,jdbcType=DECIMAL},
      unemploymentins = #{unemploymentins,jdbcType=DECIMAL},
      housingfund = #{housingfund,jdbcType=DECIMAL},
      workagepay = #{workagepay,jdbcType=DECIMAL},
      tsalary = #{tsalary,jdbcType=DECIMAL},
      fsalary = #{fsalary,jdbcType=DECIMAL},
      incometax = #{incometax,jdbcType=DECIMAL},
      paytime = #{paytime,jdbcType=DATE},
      payway = #{payway,jdbcType=VARCHAR},
      paystatus = #{paystatus,jdbcType=VARCHAR}
    where payid = #{payid,jdbcType=VARCHAR}
  </update>
</mapper>