<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zouhuachao.mapper.StaffTransferMapper" >
  <resultMap id="BaseResultMap" type="cn.zouhuachao.pojo.StaffTransfer" >
    <id column="transid" property="transid" jdbcType="VARCHAR" />
    <result column="staffid" property="staffid" jdbcType="VARCHAR" />
    <result column="staffrealname" property="staffrealname" jdbcType="VARCHAR" />
    <result column="lastdepartment" property="lastdepartment" jdbcType="VARCHAR" />
    <result column="lastjob" property="lastjob" jdbcType="VARCHAR" />
    <result column="newdepartment" property="newdepartment" jdbcType="VARCHAR" />
    <result column="newjob" property="newjob" jdbcType="VARCHAR" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="approver" property="approver" jdbcType="VARCHAR" />
    <result column="applicantiontime" property="applicantiontime" jdbcType="TIMESTAMP" />
    <result column="transtime" property="transtime" jdbcType="TIMESTAMP" />
    <result column="transreason" property="transreason" jdbcType="VARCHAR" />
    <result column="transtatus" property="transtatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    transid, staffid, staffrealname, lastdepartment, lastjob, newdepartment, newjob, 
    applicant, approver, applicantiontime, transtime, transreason, transtatus
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.zouhuachao.pojo.StaffTransferExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staff_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from staff_transfer
    where transid = #{transid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from staff_transfer
    where transid = #{transid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.zouhuachao.pojo.StaffTransferExample" >
    delete from staff_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.zouhuachao.pojo.StaffTransfer" >
    insert into staff_transfer (transid, staffid, staffrealname, 
      lastdepartment, lastjob, newdepartment, 
      newjob, applicant, approver, 
      applicantiontime, transtime, transreason, 
      transtatus)
    values (#{transid,jdbcType=VARCHAR}, #{staffid,jdbcType=VARCHAR}, #{staffrealname,jdbcType=VARCHAR}, 
      #{lastdepartment,jdbcType=VARCHAR}, #{lastjob,jdbcType=VARCHAR}, #{newdepartment,jdbcType=VARCHAR}, 
      #{newjob,jdbcType=VARCHAR}, #{applicant,jdbcType=VARCHAR}, #{approver,jdbcType=VARCHAR}, 
      #{applicantiontime,jdbcType=TIMESTAMP}, #{transtime,jdbcType=TIMESTAMP}, #{transreason,jdbcType=VARCHAR}, 
      #{transtatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.zouhuachao.pojo.StaffTransfer" >
    insert into staff_transfer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transid != null" >
        transid,
      </if>
      <if test="staffid != null" >
        staffid,
      </if>
      <if test="staffrealname != null" >
        staffrealname,
      </if>
      <if test="lastdepartment != null" >
        lastdepartment,
      </if>
      <if test="lastjob != null" >
        lastjob,
      </if>
      <if test="newdepartment != null" >
        newdepartment,
      </if>
      <if test="newjob != null" >
        newjob,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="approver != null" >
        approver,
      </if>
      <if test="applicantiontime != null" >
        applicantiontime,
      </if>
      <if test="transtime != null" >
        transtime,
      </if>
      <if test="transreason != null" >
        transreason,
      </if>
      <if test="transtatus != null" >
        transtatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transid != null" >
        #{transid,jdbcType=VARCHAR},
      </if>
      <if test="staffid != null" >
        #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="staffrealname != null" >
        #{staffrealname,jdbcType=VARCHAR},
      </if>
      <if test="lastdepartment != null" >
        #{lastdepartment,jdbcType=VARCHAR},
      </if>
      <if test="lastjob != null" >
        #{lastjob,jdbcType=VARCHAR},
      </if>
      <if test="newdepartment != null" >
        #{newdepartment,jdbcType=VARCHAR},
      </if>
      <if test="newjob != null" >
        #{newjob,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=VARCHAR},
      </if>
      <if test="applicantiontime != null" >
        #{applicantiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="transtime != null" >
        #{transtime,jdbcType=TIMESTAMP},
      </if>
      <if test="transreason != null" >
        #{transreason,jdbcType=VARCHAR},
      </if>
      <if test="transtatus != null" >
        #{transtatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.zouhuachao.pojo.StaffTransferExample" resultType="java.lang.Integer" >
    select count(*) from staff_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update staff_transfer
    <set >
      <if test="record.transid != null" >
        transid = #{record.transid,jdbcType=VARCHAR},
      </if>
      <if test="record.staffid != null" >
        staffid = #{record.staffid,jdbcType=VARCHAR},
      </if>
      <if test="record.staffrealname != null" >
        staffrealname = #{record.staffrealname,jdbcType=VARCHAR},
      </if>
      <if test="record.lastdepartment != null" >
        lastdepartment = #{record.lastdepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.lastjob != null" >
        lastjob = #{record.lastjob,jdbcType=VARCHAR},
      </if>
      <if test="record.newdepartment != null" >
        newdepartment = #{record.newdepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.newjob != null" >
        newjob = #{record.newjob,jdbcType=VARCHAR},
      </if>
      <if test="record.applicant != null" >
        applicant = #{record.applicant,jdbcType=VARCHAR},
      </if>
      <if test="record.approver != null" >
        approver = #{record.approver,jdbcType=VARCHAR},
      </if>
      <if test="record.applicantiontime != null" >
        applicantiontime = #{record.applicantiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transtime != null" >
        transtime = #{record.transtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transreason != null" >
        transreason = #{record.transreason,jdbcType=VARCHAR},
      </if>
      <if test="record.transtatus != null" >
        transtatus = #{record.transtatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update staff_transfer
    set transid = #{record.transid,jdbcType=VARCHAR},
      staffid = #{record.staffid,jdbcType=VARCHAR},
      staffrealname = #{record.staffrealname,jdbcType=VARCHAR},
      lastdepartment = #{record.lastdepartment,jdbcType=VARCHAR},
      lastjob = #{record.lastjob,jdbcType=VARCHAR},
      newdepartment = #{record.newdepartment,jdbcType=VARCHAR},
      newjob = #{record.newjob,jdbcType=VARCHAR},
      applicant = #{record.applicant,jdbcType=VARCHAR},
      approver = #{record.approver,jdbcType=VARCHAR},
      applicantiontime = #{record.applicantiontime,jdbcType=TIMESTAMP},
      transtime = #{record.transtime,jdbcType=TIMESTAMP},
      transreason = #{record.transreason,jdbcType=VARCHAR},
      transtatus = #{record.transtatus,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zouhuachao.pojo.StaffTransfer" >
    update staff_transfer
    <set >
      <if test="staffid != null" >
        staffid = #{staffid,jdbcType=VARCHAR},
      </if>
      <if test="staffrealname != null" >
        staffrealname = #{staffrealname,jdbcType=VARCHAR},
      </if>
      <if test="lastdepartment != null" >
        lastdepartment = #{lastdepartment,jdbcType=VARCHAR},
      </if>
      <if test="lastjob != null" >
        lastjob = #{lastjob,jdbcType=VARCHAR},
      </if>
      <if test="newdepartment != null" >
        newdepartment = #{newdepartment,jdbcType=VARCHAR},
      </if>
      <if test="newjob != null" >
        newjob = #{newjob,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        approver = #{approver,jdbcType=VARCHAR},
      </if>
      <if test="applicantiontime != null" >
        applicantiontime = #{applicantiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="transtime != null" >
        transtime = #{transtime,jdbcType=TIMESTAMP},
      </if>
      <if test="transreason != null" >
        transreason = #{transreason,jdbcType=VARCHAR},
      </if>
      <if test="transtatus != null" >
        transtatus = #{transtatus,jdbcType=VARCHAR},
      </if>
    </set>
    where transid = #{transid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zouhuachao.pojo.StaffTransfer" >
    update staff_transfer
    set staffid = #{staffid,jdbcType=VARCHAR},
      staffrealname = #{staffrealname,jdbcType=VARCHAR},
      lastdepartment = #{lastdepartment,jdbcType=VARCHAR},
      lastjob = #{lastjob,jdbcType=VARCHAR},
      newdepartment = #{newdepartment,jdbcType=VARCHAR},
      newjob = #{newjob,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      approver = #{approver,jdbcType=VARCHAR},
      applicantiontime = #{applicantiontime,jdbcType=TIMESTAMP},
      transtime = #{transtime,jdbcType=TIMESTAMP},
      transreason = #{transreason,jdbcType=VARCHAR},
      transtatus = #{transtatus,jdbcType=VARCHAR}
    where transid = #{transid,jdbcType=VARCHAR}
  </update>
</mapper>